<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/common/css/NavBarStyle.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="title">
			Online Book Store
		</div>
		<div class="subtitle">
			customer
		</div>
		<ul class="list-items">
			<li><a href="/customerController/customerHome"><i class="fas fa-home"></i>Home</a></li>
			<li><a href="/customerController/profile"><i class="fas fa-file-pdf"></i>Profile</a></li>
			<li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
		</ul>
		</nav>
    </div>
</div>
</body>
</html>