<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/assets/common/css/style.css">
	<title>Admin Home</title>
</head>
<body>
	<%- include('NavBar') %>
	<div id="workspace">
		<h1 align='center'>Welcome Back</h1>
		<br/>
		<img src="<%=user[0].profilepicture%>" alt="Avatar" width="200" height="200">
		<h5><%=user[0].name%></h5>
		<br/>
	</div>
</body>
</html>