<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/common/css/NavBarStyle.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="title">
			Online Book Store
		</div>
		<div class="subtitle">
			Admin
		</div>
		<ul class="list-items">
			<li><a href="/adminController/adminHome"><i class="fas fa-home"></i>Home</a></li>
			<li><a href="/adminController/verifySignupRequest"><i class="fas fa-user-check"></i>Verify Signup Request</a></li>
			<li><a href="/adminController/addBook"><i class="fas fa-mail-bulk"></i>Add New Book</a></li>
			<li><a href="/adminController/bookList"><i class="fas fa-list-ol"></i>Book List</a></li>
			<li><a href="/adminController/customerList"><i class="fas fa-list-ol"></i>Customer List</a></li>
			<li><a href="/adminController/profile"><i class="fas fa-file-pdf"></i>Profile</a></li>
			<li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
		</ul>
		</nav>
    </div>
</div>
</body>
</html>